/* Main stylesheet. Defines styles for all views.
 * Materialize scss & variables are set up here.
 ***********************************************/

// Overwrite materialize defaults
@import "_variables.scss";

// Import main scss file
@import "{poetic:materialize-scss}/sass/materialize.scss";


/* Main Layout Component styles
 ***********************************************/

main {
  position: relative;
  padding: $padding;

  .text-wrap {
    position: relative;
    margin: 5% auto;
    max-width: 600px;
    padding: 20px;
    background: rgba(#fff, 0.8);
    border: solid $primary-color;
    border-width: 10px 0;

    h1 {
      margin-top: 1rem;
      color: $secondary-color;
      i {
        vertical-align: top;
        font-size: inherit;
      }
    }
    p {
      font-size: 1.3rem;
      @media (min-width: $small-screen-up) {
        font-size: 1.5rem;
      }
    }
  }
}

#toast-container {
  position: fixed;
  top: 56px;
  left: 0;
  bottom: auto;
  .toast { margin: 0 0 8px; }
  @media (min-width: $small-screen-up) {
    top: 64px;
    right: 2%;
    left: auto;
    .toast { margin: 10px 0 0; }
  }
  .toast-error {
    background: $error-color;
  }
  .toast-success {
    background: $success-color;
  }
}

/* Typograhpy
 ***********************************************/

h1 {
  font-size: 3.8rem;
  @media (min-width: $small-screen-up) {
    font-size: 4.5rem;
  }
}

/* Global aux styles
 ***********************************************/

.loading {
  fill: #333;
  > div { margin: 0 auto; }
}
nav .loading {
  fill: #fff;
}

.help {
  font-size: 22px;
  width: 22px;
  height: 22px;
  color: lighten($text-color, 15);
  margin: 0 1.5rem;
  cursor: help;
}

// For use with HTML in materialize tooltips hack
.tooltipped-content {
  display: none;
}

.material-tooltip {
  text-align: left;
}

// remove dotted outline of html5 range inputs in firefox
input[type=range]::-moz-focus-outer {
  border: 0;
}

.error, .warning {
  width: 100%;
  @media (min-width: $small-screen-up) {
    width: 58.33333%;
  }
  @media (min-width: $medium-screen-up) {
    width: 50%;
  }
  i { color: $error-color; }
  border: 1px solid $error-color;
  border-radius: 5px;
  padding: 0.5rem 0.75rem !important;
  margin: 0.7rem 0;
}

// Contain floats
.block, .cf, .row {
  zoom: 1;
  &:before, &:after { content: ''; display: table; }
  &:after { clear: both; }
}
