@import "{}/client/modules/core/components/main_layout.scss";

nav .nav-wrapper {
  .brand-logo {
    padding: 0 $padding;

    .back {
      margin-right: 0.8rem;
      i {
        display: inline;
        vertical-align: top;
      }
    }
  }

  a.active {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .btn i {
    height: inherit;
    line-height: inherit;
  }

  .user {
    min-width: 155px;
    a {
      min-width: 100%;
    }

    .dropdown-content {
      a {
        position: relative;
        i {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
        span {
          display: block;
          padding-left: 43px;
        }
      }
    }
    .logout {
      i.material-icons {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }
}
