@import "{}/app/modules/core/components/_variables.scss";

nav .nav-wrapper {
  .brand-logo {
    padding: 0 $padding;

    .back {
      margin-right: 0.8rem;
      vertical-align: top;
      i {
        display: inline;
        vertical-align: top;
      }
    }
  }

  .beta-warning {
    background-color: $error-color;
  }

  // Because materialize navbar doesn't work with buttons by default
  button {
    display: inline-block;
    transition: background-color .3s;
    font-size: 1rem;
    color: #fff;
    background-color: transparent;
    border: none;
  }

  ul {
    button {
      padding: 0 15px;
      &.active, &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }

  .btn i {
    height: inherit;
    line-height: inherit;
  }

  .user {
    @media (min-width: $small-screen-up) {
      min-width: 165px;
    }

    .dropdown-button {
      min-width: 100%;

      @media (max-width: $small-screen) {
        span { display: none; }
        i {
          margin: 0;
        }
      }
    }
    .dropdown-content {
      min-width: 130px;
      a {
        position: relative;
        i {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
        span {
          display: block;
          padding-left: 43px;
        }
      }
    }
    .logout {
      i.material-icons {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  ul.right {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
  }

  .nav-actions {
    height: 100%;
    > ul {
      height: 100%;
      li { height: 100%; }
    }
    .dropdown-content {
      min-width: 160px;
    }
  }
}
