{
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },

  "plugins": [
    "react",
    "meteor"
  ],

  "extends": [
    "airbnb",
    "plugin:meteor/recommended"
  ],

  "parserOptions": {
    "sourceType": "module"
  },

  "rules": {
    "comma-dangle": [2, "always-multiline"],
    "object-curly-spacing": [0, "always"],
  }
}
