{
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },

  "plugins": [
    "react",
    "meteor",
    "lodash-fp"
  ],

  "extends": [
    "airbnb",
    "plugin:meteor/recommended",
    "plugin:lodash-fp/recommended"
  ],

  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },

  "settings": {
    "import/resolver": "meteor"
  },

  "rules": {
    "comma-dangle": [2, "always-multiline"],
    "object-curly-spacing": [0, "always"],
    "func-names": 0,
    "no-param-reassign": ["error", { "props": false }],
    "no-underscore-dangle": [
      "error",
      { "allow": ["_id", "_qs", "_current", "_action", "_publishCursor"] }
    ],
    "max-len": ["warn", 100],
    "new-cap": ["error", { "capIsNewExceptions": ["Where"] }],
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "object-shorthand": ["error", "always", { "avoidQuotes": false }],
    "no-mixed-operators": ["error", { "allowSamePrecedence": true }],
    "import/no-extraneous-dependencies": ["off", { "devDependencies": true }]
  }
}
