@import "{}/app/modules/core/components/_variables.scss";

.link {
  opacity: 0.9;

  path {
    fill: none;
    stroke: #444;
    stroke-width: 4px;
    stroke-linecap: round;
    cursor: pointer;
  }

  .control-point {
    fill: #444;
    stroke: #fff;
    stroke-width: 3px;
    cursor: grab;
    opacity: 0;
    visibility: hidden;
  }

  .polarity {
    rect {
      stroke: none;
      cursor: pointer;

      &.negative {
        fill: lighten($error-color, 15%);
      }

      &.positive {
        fill: lighten($success-color, 15%);
      }
    }
    text {
      fill: #fff;
      text-anchor: middle;          // horizontal center
      dominant-baseline: central;   // vertical center
      pointer-events: none;
      user-select: none;
    }

    .edit-polarity {
      opacity: 0;
      visibility: hidden;
    }

    &.editing {
      > rect {
        fill: $link-color;
      }
      rect {
        stroke: #fff;
        stroke-width: 2px;
      }
      .edit-polarity {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &.selected {
    opacity: 1;

    path {
      stroke: #333;
      stroke-width: 5px;
      cursor: auto;
    }
    .control-point {
      opacity: 1;
      visibility: visible;
    }
  }

  &.dragging {
    .control-point {
      fill: #666;
      cursor: grabbing;
    }
  }
}

.arrow-head {
  fill: #333;
}
