@import "{}/app/modules/core/components/_variables.scss";

.no-element-found {
  .text {
    position: fixed;
    top: 48%;
    transform: translateY(-50%);
    left: 1%;
    width: 98%;
    color: rgba($text-color, 0.5);
    text-align: center;

    h1 {
      font-size: 2.2rem; margin-bottom: 0.7rem;
      max-width: 800px;
      margin: 0 auto;
    }
    p { font-size: 1.1rem; }
    @media (min-width: $small-screen-up) {
      h1 { font-size: 3.3rem; }
      p { font-size: 1.2rem; }
    }
  }

  .arrow {
    transform: rotate(5deg);
    position: fixed;
    bottom: calc(4% + 25px);
    right: calc(2% + 80px);
    @media (min-width: $large-screen-up) {
      bottom: calc(2.5rem + 25px);
      right: calc(2.5rem + 80px);
    }

    span {
      display: table-cell;
      height: 45px;
      vertical-align: middle;
      font-size: 1.2rem;
      padding-right: 30px;
      cursor: default;
      animation: pulse 5s infinite;
      &::after {
        // make a nice css triangle
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border-top: 23px solid transparent;
        border-bottom: 23px solid transparent;
        border-left: 24px solid $primary-color;
      }
      @media (min-width: $small-screen-up) {
        font-size: 1.5rem;
        padding-right: 40px;
      }
    }
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    60% {
      transform: scale(1);
      opacity: 1;
    }
    80% {
      transform: scale(.96);
      opacity: 0.9;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}
