@import "{}/client/modules/core/components/_variables.scss";

#new-model, #edit-model {
  max-height: 75%;

  .collection {
    overflow: visible;
    .collection-item {
      min-height: 65px;
      transition: background-color 0.3s ease-out;
      p {
        color: #666;
        font-size: 0.94em;
      }
      &:hover { background-color: rgba(#333, 0.05); }

      .secondary-content {
        button { margin-left: 0.8rem; }
        button.admin {
          background-color: #c0c0c0;
        }
      }
      &.admin .secondary-content button.admin {
        background-color: $secondary-color;
      }
      button.remove {
        padding: 0 1rem;
        background-color: $primary-color;
      }
    }
  }

  .modal-footer {
    .btn, .btn-flat {
      margin-left: 1rem;
      &:last-child {
        margin-left: 0;
      }
    }
  }
}
