@import "{}/client/modules/core/components/_variables.scss";

.single-model {
  height: 100%;
  svg {
    position: fixed;
    // XXX: Find a better way, to get the height of the navbar
    top: 56px;
    @media (min-width: $small-screen-up) {
      top: 64px;
    }
    left: 0;
    width: 100%;
    height: 100%;

    .event-catcher {
      fill: none;
      pointer-events: all;
    }

    .new-link {
      fill: none;
      stroke: rgba(#333, 0.8);
      stroke-width: 4px;
      marker-end: url("#end-arrow");
      pointer-events: none;
      cursor: crosshair;
    }
  }

  .edit-variable {
    position: absolute;
    z-index: 99;
    // same padding as in variable.js
    padding: 5px 10px;
    transform-origin: left top;
    input {
      margin: 0;
      border: none !important;
      box-shadow: none !important;
      height: auto;
    }
  }

  .new {
    position: fixed;
    bottom: 4%;
    right: 2%;
    @media (min-width: $large-screen-up) {
      bottom: 2.5rem;
      right: 2.5rem;
    }
  }
  .zoomer {
    position: fixed;
    bottom: 3%;
    left: 2%;
    width: 10%;
    min-width: 150px;
    max-width: 350px;
    display: flex;
    align-items: center;
    @media (min-width: $large-screen-up) {
      bottom: 2rem;
      left: 2.5rem;
    }
    .reset-zoom {
      cursor: pointer;
      flex: 0 0 30px;
      user-select: none;
    }
    .range-field {
      flex: 1 0 120px;
    }
  }

  #toast-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: auto;
    .toast { margin: 0 0 8px; }
    @media (min-width: $small-screen-up) {
      right: 2%;
      left: auto;
      .toast { margin: 10px 0 0; }
    }
    .toast-error {
      background: $error-color;
    }
  }
}
