@import "{}/client/modules/core/components/main_layout.scss";

// set height to 100% all the way down
html, body, #react-root, #react-root > div, main, main > div {
  height: 100%;
}
body {
  // overflow is handled by d3 panning
  overflow: hidden;
}

.single-model {
  height: 100%;
  svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .new {
    position: fixed;
    bottom: 4%;
    right: 2%;
    @media (min-width: $large-screen-up) {
      bottom: 2.5rem;
      right: 2.5rem;
    }
  }
  .zoomer {
    position: fixed;
    bottom: 3%;
    left: 2%;
    width: 10%;
    min-width: 150px;
    max-width: 350px;
    @media (min-width: $large-screen-up) {
      bottom: 2rem;
      left: 2.5rem;
    }
  }
}
