@import "{}/client/modules/core/components/_variables.scss";

$card-height: 250px;

.modellist {
  padding-top: 1rem;

  > div.row {
    section {
      margin-bottom: 2rem;

      .model {
        height: $card-height;
        margin: 0;
        background-color: #fff;

        p { margin: 0.5em 0; }
        .card-content {
          padding: 0.5rem 0.7rem 0;
          .card-title {
            font-size: 2rem;
            margin: 0;
            a {
              color: inherit;
            }
          }
          a.activator {
            cursor: pointer;
            color: inherit;
            i { font-size: 35px; }
          }
          i.material-icons {
            line-height: 1;
            vertical-align: bottom;
          }
        }
        .card-reveal {
          padding: 0;
          overflow: hidden;
          .content {
            padding: 1rem;
            height: $card-height - 50px;
            overflow-y: auto;
          }
          .card-title {
            margin-top: 0;
          }
          .card-action {
            height: 50px;
            padding: 1rem;
          }
        }
        .member {
          height: 27px;
          line-height: 27px;
          padding: 0 9px;
          margin-right: 4px;
          @media (min-width: $medium-screen-up) {
            height: 30px;
            line-height: 30px;
            padding: 0 11px;
            margin-right: 5px;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
  .new {
    position: fixed;
    bottom: 4%;
    right: 2%;
    @media (min-width: $large-screen-up) {
      bottom: 2.5rem;
      right: 2.5rem;
    }
  }
}
