@import "{}/client/modules/core/components/main_layout.scss";

.ReactTags {
  position: relative;

  transition: border-bottom 0.3s, box-shadow 0.3s;
  border-bottom: 1px solid #9e9e9e;
  &.focused {
    border-bottom: 1px solid $secondary-color;
    box-shadow: 0 1px 0 0 $secondary-color;
  }

  .ReactTags__selected {
    display: inline;

    .ReactTags__tag {
      border: none;
      margin-right: 6px;
    }
  }
  .ReactTags__tagInput {
    display: inline-block;

    @media (min-width: $small-screen-up) {
      position: relative;
    }

    input {
      margin: 0;
      min-width: 120px;
      // overwrite default material css styles,
      // because we include them for the whole element
      border: none !important;
      box-shadow: none !important;
    }

    .ReactTags__suggestions {
      position: absolute;
      z-index: 99;
      top: 100%;
      left: 0;
      width: 100%;
      margin-bottom: 1.5em;

      display: block !important;
      opacity: 1 !important;

      @media (min-width: $small-screen-up) {
        width: 240px;
      }

      ul {
        margin: 0;
      }
      mark {
        background: none;
        text-decoration: underline;
        font-weight: bold;
      }
    }
  }
}
